.footer{
    background-color: wheat;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
i{
    color: black;
}

